<!DOCTYPE html>
<html ng-app="superapp">
<head>

<meta charset="UTF-8">
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"> <--!>
<script src="angular.min.js">

</script>
<script>
var app = angular.module('superapp',[]);
app.controller('DocumentController', ['$http', function($http) {
  var wf = this;
  
  wf.create= function () {
        $http.get('/createClaim/'+wf.name+'/'+wf.amount).success(function(data) {
		wf.showCreateButton = false;
		wf.showRefreshButton = true;
		wf.id = data.Id;
		});
  };
  wf.refresh = function () {
        $http.get('/claim/'+wf.id).success(function(data) {
		console.log(data);
		if (data.State == "reviewed") {
  			wf.showComplainButton = true;
			wf.showApproveButton = true;
  			wf.showRefreshButton = false;
		}
		});
  }
  wf.moneyBack = 0;
  wf.approve= function () {
        $http.get('/accept/'+wf.id).success(function(data) {
			wf.moneyBack += data.ApprovedAmount;
			wf.showMoneyBack = true;
			wf.showComplainButton = false;
			//wf.showApproveButton = false;
		});
  };  
  wf.showCreateButton = true;
  wf.showRefreshButton = true;
  wf.showMoneyBack = false;
}]);

</script>
<title>Angular 1.3 4ever. Really. 4ever.</title>
</head>

<body >
    <div ng-controller="DocumentController as wf">
    <h1>Hello {{ wf.name }}</h1>
	<input type="number" ng-model="wf.amount">Amount</input> <p>
    <input type="text" ng-model="wf.name">Name</input> <p>
        <button ng-show="wf.showCreateButton" ng-click="wf.create()">Create insurance claim</button>
	<button ng-show="wf.showRefreshButton" ng-click="wf.refresh()">Refresh claim</button>
	<button ng-show="wf.showComplainButton" ng-click="wf.complain()">Complain</button>
        <button ng-show="wf.showApproveButton" ng-click="wf.approve()">Approve</button>
	<div ng-show="wf.showMoneyBack"> {{ wf.moneyBack }} </div>
    </div>
</body>

</html>
